<div class="container-fluid">
<dl class="row" id="accordion">
  <dt class="col-md-6">どういうもの？</dt>
  <dd class="col-md-6">PHASE2大課題「わてぷメモ」を改良したもの</dd>
  <dt class="col-md-6">注意点</dt>
  <dd class="col-md-6">課題の性質上、140文字以下までしかメモに残せません</dd>
  <dt class="col-md-6">ログを書く</dt>
  <dd class="col-md-6">残しておきたいログを書いて保存を押します</dd>
  <dt class="col-md-6">ログを見る</dt>
  <dd class="col-md-6">残しておいたログを見ることができます</dd>
</dl>
</div>
